node_modules

relay_server/node_modules
relay_server/napi.txt

.vscode

cache

test/test_jubjub.js
test/testFirebase.js

invisible_backend/target
invisible_backend/storage





circomlib/test

cairo_contracts/cli.txt
cairo_contracts/tests

snarkjs_tests/

end_to_end.txt
notes.txt

invisible_backend/crates/starknet-rs/target
invisible_backend/storage/merkle_trees/state_tree
invisible_backend/storage/merkle_trees/perpetual_tree
invisible_backend/storage/transaction_data
invisible_backend/storage/price_data
invisible_backend/storage/batch_snapshot
invisible_backend/firebase-service-account.json



invisible_solidity/bin
invisible_solidity/cache
invisible_solidity/out
invisible_solidity/todos.txt


relay_server/src/helpers/firebaseConnection.js
relay_server/src/orderBooks.db
relay_server/src/.env



deprecated



todos.txt
.env