node_modules

express_server/node_modules
express_server/napi.txt

.vscode

cache

test/test_jubjub.js
test/testFirebase.js

invisible_backend/target
invisible_backend/storage

circomlib/test

cairo_contracts/cli.txt

snarkjs_tests/

end_to_end.txt
notes.txt

invisible_backend/crates/starknet-rs/target
invisible_backend/storage/merkle_trees/state_tree
invisible_backend/storage/merkle_trees/perpetual_tree
invisible_backend/storage/transaction_data
invisible_backend/storage/price_data
invisible_backend/storage/batch_snapshot
invisible_backend/firebase-service-account.json


invisible_solidity/bin
invisible_solidity/cache
invisible_solidity/out
invisible_solidity/todos.txt


invisible_react/src/app_logic/helpers/firebaseAdminConfig.js
invisible_react/src/app_logic/helpers/invisibl333-362714-2703fb3e24cb.json
invisible_react/src/app_logic/test

deprecated



todos.txt
.env